build/index.html
<!DOCTYPE html>
<html>

<head>
 <title></title>
 <meta charset="utf-8" />
 <link href="css/styles.pretty.css" rel="stylesheet" />
</head>

<body class="body">
 <div class="main">
  <div class="header">
   <div class="header-top">
    <div class="header-left">
     <div class="header-logo">
      <img src="img/logo.png" alt="pic">
     </div>
     <div class="header-text">Приключения
      <br>и открытия в России</div>
    </div>
    <div class="header-right">
     <div class="header-phone">
      <div class="header-phone-text">Справки по телефону</div>
      <div class="header-phone-number">+7 495 125-28-08</div>
     </div>
    </div>
   </div>
   <div class="header-main">
    <div class="header-main-in">
     <div class="header-main-title">На вершине мира</div>
     <div class="header-main-text">Путешетвие на острова Врангеля и Геральда</div>
    </div>
   </div>
  </div>
  <div class="pics">
   <div class="pics-left">
    <div class="pics-el">
     <img src="img/pic-left.png" alt="pic" class="pics-img">
    </div>
   </div>
   <div class="pics-right">
    <div class="pics-el">
     <img src="img/pic-right.png" alt="pic" class="pics-img pics-img_half">
    </div>
    <div class="pics-el">
     <img src="img/pic-right.png" alt="pic" class="pics-img pics-img_half">
    </div>
    <div class="pics-el">
     <img src="img/pic-right.png" alt="pic" class="pics-img pics-img_half">
    </div>
    <div class="pics-el">
     <img src="img/pic-right.png" alt="pic" class="pics-img pics-img_half">
    </div>
   </div>
  </div>
  <div class="text">Мечтаете стать исследователем, побывать в настоящей полярной экспедиции, увидеть один из самых малоизученных уголков планеты. Присоединяйтесь к путешествию за арктической красотой на острова Врангеля и Геральда.</div>
  <div class="info">
   <div class="info-elem">
    <div class="info-elem-pic info-elem-pic_rest"></div>
    <div class="info-elem-name">Корпоративный
     <br> отдых</div>
   </div>
   <div class="info-elem">
    <div class="info-elem-pic info-elem-pic_cruise"></div>
    <div class="info-elem-name">Экспедиционные
     <br> круизы</div>
   </div>
   <div class="info-elem">
    <div class="info-elem-pic info-elem-pic_chukotka"></div>
    <div class="info-elem-name">Чукотка</div>
   </div>
   <div class="info-elem">
    <div class="info-elem-pic info-elem-pic_childrens"></div>
    <div class="info-elem-name">Отдых с&nbsp;детьми</div>
   </div>
   <div class="info-elem">
    <div class="info-elem-pic info-elem-pic_ny"></div>
    <div class="info-elem-name">Новогодние
     <br> туры</div>
   </div>
  </div>
  <div class="line"></div>
 </div>
</body>

</html>

app/pages/index.jade
//- Extend layout
//--------------------------------------------------------------------------------------------------
extends ../layout/layout


//- Append this to 'layout-content'
//--------------------------------------------------------------------------------------------------
block append layout-content
  .header
    .header-top
      .header-left
        .header-logo: img(src="img/logo.png", alt="pic")
        .header-text Приключения <br>и открытия в России
      .header-right
        .header-phone
          .header-phone-text Справки по телефону
          .header-phone-number +7 495 125-28-08
    .header-main
      .header-main-in
        .header-main-title На вершине мира
        .header-main-text Путешетвие на острова Врангеля и Геральда
  
  .pics
    .pics-left
      .pics-el: img(src="img/pic-left.png", alt="pic").pics-img
    .pics-right
      .pics-el: img(src="img/pic-right.png", alt="pic").pics-img.pics-img_half
      .pics-el: img(src="img/pic-right.png", alt="pic").pics-img.pics-img_half
      .pics-el: img(src="img/pic-right.png", alt="pic").pics-img.pics-img_half
      .pics-el: img(src="img/pic-right.png", alt="pic").pics-img.pics-img_half
  
  .text Мечтаете стать исследователем, побывать в настоящей полярной экспедиции, увидеть один из самых малоизученных уголков планеты. Присоединяйтесь к путешествию за арктической красотой на острова Врангеля и Геральда.
    
  .info
    mixin info-elem(pic, name)
      .info-elem
        .info-elem-pic(class="info-elem-pic_#{pic}")
        .info-elem-name!= name
    
    +info-elem("rest", "Корпоративный <br> отдых")
    +info-elem("cruise", "Экспедиционные <br> круизы")
    +info-elem("chukotka", "Чукотка")
    +info-elem("childrens", "Отдых с&nbsp;детьми")
    +info-elem("ny", "Новогодние <br> туры")

  .line
